.user-box{
  display: flex;
  border: 1px solid;
  width: 350px;
  height: 120px;
}

.main-user-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.container{
  margin-left: 50px;
}

.label{
  width: 175px;
  display: inline-block;
}

.space{
  margin-bottom: 5px;
}