.main-layout{
  height: 100vh;
  background-color: beige;
}

.header{
  height: 15%;
  background-color: red;
}

.sidebar{
  width: 25%;
  height: 85%;
  background-color: blue;
  display: inline-block;
}

.content{
  width: 50%;
  height: 85%;
  background-color: green;
  display: inline-block;
}

.section{
  width: 24%;
  height: 85%;
  background-color: blueviolet;
  display: inline-block;
}