.outer-container{
  height: 100vh;
  border: 2px solid red;
  box-sizing: border-box; /* div height - div border height */
}

.body{
  margin: 0px;
}

.header{
  height: 10%;
  border: 2px solid blue;
  box-sizing: border-box;
  display: flex;
    flex-direction: row;
}

.sidebar{
  height: 100%;
  border: 2px solid green;
  box-sizing: border-box;
  width: 20%;
  overflow: auto;
}

.content{
  height: 100%;
  width: 80%;
  border: 2px solid black;
  box-sizing: border-box;
}

.wrapper{
  height: 90%;
  display: flex;
  flex-direction: row;
}

.video-topics{
  border: 2px solid black;
  height: 8%;
  box-sizing: border-box;
}

.all-videos{
  border: 2px solid red;
  height: 92%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* column-gap: 15px; */
  /* row-gap: 15px; */
  overflow: auto;
  /* padding: 20px; */
  justify-content: space-evenly;
  padding-bottom: 20px;
  
}

.video-player{
  border: 2px solid black;
  width: 350px;
  height: 250px;
  margin-top: 25px;
}

.sidebar-menu{
  height: 10%;
  border: 2px solid red;
  margin: 10px;
}

.menu-icon{
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.youtube-logo{
  display: flex;
  flex-direction: row;
  width: 20%;
    border: 2px solid;
    justify-content: center;
    align-items: center;
}

.youtube-search{
  display: flex;
  flex-direction: row;
  width: 65%;
    border: 2px solid;
    justify-content: center;
    align-items: center;
}

.youtube-settings{
  width: 15%;
  border: 2px solid;
}

.search-input{
  width: 50%;
  height: 45%;
  font-size: 20px;
  border-radius: 50px;
  padding-left: 20px;
}