.outer-container{
  height: 100vh;
  border: 2px solid red;
  box-sizing: border-box; /* div height - div border height */
}

.body{
  margin: 0px;
}

.header{
  height: 10%;
  border: 2px solid blue;
  box-sizing: border-box;
}

.sidebar{
  height: 100%;
  border: 2px solid green;
  box-sizing: border-box;
  width: 20%;
}

.content{
  height: 100%;
  width: 80%;
  border: 2px solid black;
  box-sizing: border-box;
}

.wrapper{
  height: 90%;
  display: flex;
  flex-direction: row;
}

.video-topics{
  border: 2px solid black;
  height: 8%;
  box-sizing: border-box;
}

.all-videos{
  border: 2px solid red;
  height: 92%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* column-gap: 15px; */
  /* row-gap: 15px; */
  overflow: auto;
  /* padding: 20px; */
  justify-content: space-evenly;
  padding-bottom: 20px;
  
}

.video-player{
  border: 2px solid black;
  width: 350px;
  height: 250px;
  margin-top: 25px;
}